@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Raleway&display=swap');

*{
  margin: 0;
  padding: 0;
}

.container{
  height: 100vh;
  width: 100%;
  background-color: #333;
}

.navbar{
  width: 100%;
  /*height: 15vh;*/
  height: 150px;
  background-color: #ede9dc;
  display: flex;
  align-items: center;
}

.logo{
  width: 83px; /*original size of file*/
  /*padding-top: 34px; changes done in navbar*/
  padding-left: 34px;
  /*border-radius: 10px;*/
  cursor: pointer;
}

nav{
  font-family: 'Orbitron', sans-serif;
  padding-left: 20px;
  
}

/*Removing the decoration to the text*/
nav a{
  text-decoration: none;
  color: #333;
}
nav ul li{
  display: inline-block;
  list-style: none;
  
  font-size: 15pt;
  margin: 0px 25px; /*no margin top, 20 px sides*/
}

.bodyWebsite{
  display: flex;
  justify-content: space-around;
}

.textElements{
  margin-top: 100px; /*adjust margin prior to flexbox*/
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  /*justify-content: space-between;*/
  
}

.Title{
  text-align: left;
  /*margin: 60px 75px 15px; NOT NEEDED*/
  font-size: 30pt;
  font-family: 'Orbitron', sans-serif;
  color: #0a8;
}


.BodyText{
  /*margin-left: 75px;
  margin-bottom: 15px; NOT NEEDED*/
  text-align: left;
  color: #fc0;
  font-size: 20pt; /* Check this size*/
  font-family: "Raleway", sans-serif;
}

.VideoFile{
  margin-top: 100px;
}
