@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap'); /*adding the styles here is more organized */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


body {
  background-color: rgb(59, 119, 223);
  color: white
}

h1 {
  /* color: rgb(211, 211, 211); */
  text-align: center;
  font-size: 45pt;
  font-family: 'Orbitron', sans-serif;
  
}

h3 {
  /* color: rgb(255,255,255) */
  font-size: 30pt;
  font-family: 'Roboto', sans-serif;
}

p {
  /* color: rgb(255,255,255) */
  font-size: 20pt; /* Check this size*/
  font-family: "Roboto", sans-serif;
}